<div class="col-md-12 mt-3">
    <h1>{{pagetitle}}</h1>
    <p *ngIf="status != 'success'" >
        Crear nueva categoria en el blog
    </p>

    <div *ngIf="status=='success'" class="alert alert-success col-md-5">
        La categoría dse ha creado correctamente
    </div>
    <div *ngIf="status=='error'" class="alert alert-danger col-md-5">
        No se pudo crear la categoía
    </div>

    <!--form crear categoria-->
    <form class="col-md-5" #categoryForm="ngForm" (ngSubmit)="onSubmit(categoryForm)">
        <div class="form-group">
            <label for="name">Nombre de la categoría:</label>
            <input class="form-control" required type="text" name="name" id="name" #name="ngModel" 
            [(ngModel)]="category.name">
            <small *ngIf="!name.valid && name.touched" class="invalid-feedback d-block">
                El nombre de la categoría es Inválido
            </small>
        </div>
        <input [disabled]="categoryForm.invalid" type="submit" value="Guardar" class="btn btn-success">
    </form>
</div>