<div *ngIf="!category" class="loading">
    Cargando...
</div>
<div *ngIf="category" class="container-fluid mt-3">
    <h1>{{category.name}}</h1>

    <div *ngIf="!category" class="loading">
        Cargando posts...
    </div>
    <div class="alert alert-warning"  *ngIf="!posts || posts.length == 0">
        No hay post para mostrar
    </div>
    <div class="card-columns" *ngIf="posts && posts.length >=1">
        <article class="card w-100" *ngFor="let post of posts">
            <div class="card-header">
                <h3><a [routerLink]="['/entrada', post.id]">{{post.title}}</a></h3>
            </div>
            <div class="card-body">
                <!--imagen del post-->
                <div class="post-image w-100" *ngIf="post.image">
                    <img src="{{url + 'post/image/'+ post.image }}" class="w-100">
                </div>

                <div class="post-image w-100" *ngIf="!post.image">
                    <img src="https://via.placeholder.com/400x250" class="w-100">
                </div>
                <!--botones-->
                <div class="post-buttons mt-3">
                    <a class="btn btn-success ml-2" [routerLink]="['/entrada', post.id]">Ver</a>
                    <span *ngIf="identity && identity.sub == post.user_id">
                        <a class="btn btn-warning ml-2" [routerLink]="['/editar-entrada', post.id]">Editar</a>
                        <a class="btn btn-danger ml-2"
                        (click)="deletePost(post.id)"
                        >Borrar</a>
                    </span>
                </div>
            </div>
        </article>
    </div>
</div>